.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods / Carthage (in case either is added later)
Pods/
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
